* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    font-size: 40px;
    background-color: lightpink;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Barlow Condensed";

}
input{
    width: 35px;
}
#player {
    display: flex;
    flex-wrap: nowrap;


}

#gamePlast {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.holder {
    padding: 10px;
}